/*body {
  background: #466368;
  background: -webkit-linear-gradient(#ff0a23, #fa3c82);
  background:    -moz-linear-gradient(#e933f2, #a12cd4);
  background:         linear-gradient(#ef16f2, #bde3ff);
}
*/


body, p {
	background-color: #ffe3f9;
}

h1 , h2 , h3 {
	color: #4c00ff;
	font-family: 'Roboto Mono', monospace;
}





.nameheader {
	font-family: sans-serif;
	font-size: 50px;
	color: #4c00ff;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.header2 {
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

.paragraph {
	background-color: yellow;
	text-align: center;
	font-family: helvetica;
}

.highlight {
	background-color: purple;
}
.strawberry {
	text-align: center;
	border-top: 10px;
}

#flowers {
	color: red;
	padding: 3px;
	font-size: 20px;
	display: flex;
	font-family: 'Roboto Mono', monospace;
}

#color {
	color: magenta;
	padding: 3px;
	font-size: 20px;
	display: flex;
	font-family: 'Roboto Mono', monospace;
}

#size {
	color: blue;
	padding: 3px;
	font-size: 20px;
	display: flex;
	font-family: 'Roboto Mono', monospace;
}

#location {
	color: yellow;
	padding: 3px;
	font-size: 20px;
	display: flex;
	font-family: 'Roboto Mono', monospace;
}


