body {
	background-color: white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}



/*img:hover {
	width: 100px;
	height: 100px;
	background-color: magenta;
	animation-name: img;
	animation-duration: 4s;

}*/

	.objectsArray {
		align-content: center;

	}




img {
	max-width: 30px;
	float: left;
	border: none;
	padding: 4px;

}

@keyframes enlarge {
	from {background-color: magenta;}
	to {background-color: cyan;}
}	


img:hover {
		max-width: 300px;
		background-color: magenta;
		animation-name: enlarge;
		animation-duration: 4s;
		position: relative;
	
}


.objectsTitle {
	position: absolute;
	overflow-y: hidden;
	font-family: 'Roboto Mono', monospace;	
	font-size: 10px;
	color: red;

}
		


.box {
	position: relative;
  	width: 150px;
  	display: block;
  	background-color: white;
  	padding: 1px;
  	opacity: 60%;
}


















