body {
	background-color: white;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

html, body {
	height: 100%;
}

/*img:hover {
	width: 100px;
	height: 100px;
	background-color: magenta;
	animation-name: img;
	animation-duration: 4s;

}*/

.wrap {
	position: relative;
}
	.objectsArray {
		border-left: solid white 150px;
		border-right: solid white 100px;
		position: sticky;
	}



img {
	max-width: 159px;
	padding: 4px;
	float: left;
	z-index: 1;
	position: relative;

}

@keyframes enlarge {
	from {background-color: magenta;}
	to {background-color: cyan;}
}	


img:hover {
		max-width: 500px;
		background-color: magenta;
		animation-name: enlarge;
		animation-duration: 4s;
		z-index: 2;
		
}



.objectsTitle {
	position: absolute;
	overflow-y: hidden;
	font-family: 'Roboto Mono', monospace;
	overflow-y: hidden;	
	font-size: 11px;
	color: white;
	display: block;
	overflow: scroll;
}
		


.box {
  	width: 150px;
  	background-color: black;
  	position: sticky;
  	display: block;
  	overflow: scroll;
}


.box:hover {
	color: magenta;
}



	/*.box {
		padding: 1px;
		color: white;
		width: 80%;
  		text-align: left;
  		padding: 10px 20px;
}
}*/


	















