#left_pane {
	width: 700px;
	height: 700px;
	margin-left: 550px;
}

.p {
	font-size: 28px;
	font-family: times-new-roman;
	font-style: bold;
	color: red;
}

.home-us {
	background-color: transparent;
}

